In [17]:
import pandas as pd
import seaborn as sns

In [5]:
cd data

C:\Users\cheng\OneDrive\Python_Fish_Hub\Statistical_Methods_MP\data

In [6]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BAE3-EAE6

 Directory of C:\Users\cheng\OneDrive\Python_Fish_Hub\Statistical_Methods_MP\data

2018-02-06  09:40 PM    <DIR>          .
2018-02-06  09:40 PM    <DIR>          ..
2018-02-05  09:51 PM    <DIR>          Case Studies Chapter 6
2017-09-22  10:44 AM           332,246 Chapter 10 examples.xlsx
2017-12-29  11:10 AM           517,179 Chapter 11 examples.xlsx
2017-12-29  11:10 AM            67,013 Chapter 12 examples.xlsx
2017-12-29  10:06 AM           127,655 Chapter 13 examples Gy.xlsx
2017-12-21  11:06 AM           646,800 Chapter 2 figure data.xlsx
2017-12-21  11:06 AM            14,455 Chapter 3 examples.xlsx
2017-12-21  11:09 AM           123,610 Chapter 4 examples.xlsx
2017-05-22  08:19 AM           121,979 Chapter 5 examples.xlsx
2015-01-14  09:51 AM         2,121,509 Chapter 6 examples.xlsx
2014-10-16  03:47 PM            66,481 Chapter 7 examples.xlsx
2014-10-16  03:47 PM           563,043 Chapter 8 examples.xlsx
2017-11-03  11:42 AM         1,796,967 Chapter 9 examples.xlsx
              12 File(s)      6,498,937 bytes
               3 Dir(s)  87,005,925,376 bytes free

In [9]:
data = pd.read_excel('Chapter 2 figure data.xlsx', sheetname = 0)

In [12]:
data.columns

Index(['Unnamed: 0', 'Rock strength Mpa', 'Power at 3.4mm set (kWh/t)',
       'Power at 4.3mm set (kWh/t)'],
      dtype='object')

In [14]:
data = pd.DataFrame(data, columns = ['Rock strength Mpa', 'Power at 3.4mm set (kWh/t)', 'Power at 4.3mm set (kWh/t)'])

In [15]:
data

   Rock strength Mpa  Power at 3.4mm set (kWh/t)  Power at 4.3mm set (kWh/t)
0              34.31                       0.853                       0.658
1              42.21                       0.882                       0.663
2              22.93                       0.773                       0.565
3               7.09                       0.649                       0.520